@model IEnumerable<MVC5HomeWork1.Models.客戶統計資料>

@{
    ViewBag.Title = "CustomerList";
}

<h2>CustomerList</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>

@using (Html.BeginForm("CustomerList", "客戶資料", FormMethod.Post))
{
    <span>客戶名稱:</span> @Html.TextBox("客戶名稱");
    <input type="submit" name="search" />
    <br />
    <br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.聯絡人數量)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.銀行帳戶數量)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.客戶名稱 }) |
            @Html.ActionLink("Details", "Details", new { id=item.客戶名稱 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.客戶名稱 })
        </td>*@
    </tr>
}

</table>
}